<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css"/>
        <link rel="stylesheet" href='styles.css'/>
    </head>

    <div class="jumbotron text-center">
        <h1>Welcome to the FIT2095 POMS</h1>
        <img src = "logo.png"><br>
        <br>
        <a type="button" class="btn btn-primary" href="http://localhost:8080/addparcel">Add a parcel</a>
        <a type="button" class="btn btn-primary" href="http://localhost:8080/getparcels">Show all parcels</a> 
        <a type="button" class="btn btn-primary" href="http://localhost:8080/deleteparcel">Delete a parcel</a>
        <a type="button" class="btn btn-primary" href="http://localhost:8080/updateparcel">Update a parcel</a><br>
    </div>

</html>